{%- if section.settings.space_around -%}
  <style>
        .section-{{ section.id }}  .custom-content {
        margin-bottom: 0;
        padding: 60px 0;
    }
    .footerContent h2,.footerContent p ,.footerContent a {
      color : {{section.settings.text_color}};
    }

   .footerContent a{
     position: relative;
   }
    
    .footerContent a svg {
      position: absolute;
      top: 10px;
      fill:{{section.settings.text_color}};
    }
    .footerContent a:hover svg{
      fill:#fff;
    }
    .custom__item-inner .rte a:not(.rte__image):not(.btn):not(.spr-summary-actions-newreview){
          border-bottom-color: {{section.settings.text_color}};
    }
  </style>
{% endif %}
{% if section.settings.hide_on_desktop %}
  <style>
    @media(min-width:768px){
      .section-{{ section.id }}{
        display:none;
      }
    }
  </style>
{% endif %}
<div
  class="footerContent section-{{ section.id }} background_color customBox "
  style="background-color:{{ section.settings.background_color }}"
>
  {%- if section.settings.space_around -%}
    <div class="index-section {% if section.settings.add_small_spacing %} smallspacing {% endif %}">
  {%- endif -%}
  {%- unless section.settings.full_width -%}
    <div class="page-width">
  {%- endunless -%}
  <div class="custom-content">
    {%- for block in section.blocks -%}
      {%- liquid
        case block.settings.width
          when '25%'
            assign block_width = 'small--one-whole one-quarter'
          when '33%'
            assign block_width = 'small--one-whole one-third'
          when '50%'
            assign block_width = 'small--one-whole one-half'
          when '66%'
            assign block_width = 'small--one-whole two-thirds'
          when '75%'
            assign block_width = 'small--one-whole three-quarters'
          when '100%'
            assign block_width = 'one-whole'
        endcase
      -%}
      <div
        class="custom__item {{ block_width }}{% if block.settings.alignment %} align--{{ block.settings.alignment }}{% endif %}"
        {{ block.shopify_attributes }}
      >
        <div class="custom__item-inner custom__item-inner--{{ block.type }}{% if block.settings.image == blank and block.type == 'image' %} custom__item-inner--placeholder-image{% endif %}">
          {%- case block.type -%}
            {%- when 'liquid' -%}
              {%- if block.settings.headings != blank or block.settings.text != blank -%}
                {% if block.settings.icon %}
                {% render 'icon-accordion', icon: block.settings.icon %}
                  {% endif %}
                <div class="custom_content-footer rte">
                  <h2 class="h1">{{ block.settings.headings }}</h2>
                  <p>{{ block.settings.text }}</p>
                  {% if block.settings.link %}
                    <a href="{{ block.settings.link }}" class="button button--primary">{{ block.settings.link_text }}</a>
                  {% endif %}
                </div>
              {%- endif -%}
            {%- when 'image' -%}
              <div class="aos-animate" style="    position: relative;">
                {%- if block.settings.link != blank -%}
                  <a href="{{ block.settings.link }}">
                {%- endif -%}
                {%- if block.settings.image != blank -%}
                  <div
                    class="image-wra"
                    style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.image.aspect_ratio }}%;"
                  >
                    {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    <img
                      class=""
                      src="{{ block.settings.image | img_url: '1900x' }}"
                      class:image_class,
                      loading:lazy,
                      height=""
                      width=""
                      alt="{{ block.settings.image.alt }}"
                    >
                    <noscript>
                      <img
                        class="lazyloaded"
                        src="{{ block.settings.image | img_url: '400x' }}"
                        alt="{{ block.settings.image.alt }}"
                        class:image_class,
                        loading:lazy,
                        height=""
                        width=""
                      >
                    </noscript>
                  </div>
                {%- else -%}
                  <div class="image-wrap">
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {%- endif -%}
                {%- if block.settings.link != blank -%}
                  </a>
                {%- endif -%}

                {% if block.settings.video_link != blank %}
                  <a
                    class="popup-youtube"
                    href="{% if block.settings.video_link != blank %} {{block.settings.video_link}} {% endif %}"
                  >
                  </a>
                {%- endif %}
              </div>
          {%- endcase -%}
        </div>
      </div>
    {%- endfor -%}
    {%- if section.blocks.size == 0 -%}
      <div class="page-width">
        <div class="grid">
          <div class="grid__item">
            <div class="rte">
              {{ 'home_page.onboarding.no_content' | t }}
            </div>
          </div>
        </div>
      </div>
    {%- endif -%}
  </div>
  {%- unless section.settings.full_width -%}
    </div>
  {%- endunless -%}
  {%- if section.settings.space_around -%}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Custom content",
  "max_blocks": 3,
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full page width",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "space_around",
      "label": "Add spacing above and below",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "hide_on_desktop",
      "label": "Hide on Desktop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "add_small_spacing",
      "label": "Add small Spacing in desktop",
      "default": false
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    }
  ],
  "blocks": [
    {
      "type": "liquid",
      "name": "Content",
      "settings": [
        {
        "type": "select",
        "id": "icon",
        "options": [
          {
            "value": "none",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
          },
          {
            "value": "apple",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
          },
          {
            "value": "banana",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
          },
          {
            "value": "bottle",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
          },
          {
            "value": "box",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
          },
          {
            "value": "carrot",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
          },
          {
            "value": "chat_bubble",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
          },
          {
            "value": "check_mark",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
          },
          {
            "value": "clipboard",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
          },
          {
            "value": "dairy",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
          },
          {
            "value": "dairy_free",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
          },
          {
            "value": "dryer",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
          },
          {
            "value": "eye",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
          },
          {
            "value": "fire",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
          },
          {
            "value": "gluten_free",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
          },
          {
            "value": "heart",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
          },
          {
            "value": "iron",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
          },
          {
            "value": "leaf",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
          },
          {
            "value": "leather",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
          },
          {
            "value": "lightning_bolt",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
          },
          {
            "value": "lipstick",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
          },
          {
            "value": "lock",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
          },
          {
            "value": "map_pin",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
          },
          {
            "value": "nut_free",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
          },
          {
            "value": "pants",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
          },
          {
            "value": "paw_print",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
          },
          {
            "value": "pepper",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
          },
          {
            "value": "perfume",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
          },
          {
            "value": "plane",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
          },
          {
            "value": "plant",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
          },
          {
            "value": "price_tag",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
          },
          {
            "value": "question_mark",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
          },
          {
            "value": "recycle",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
          },
          {
            "value": "return",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
          },
          {
            "value": "ruler",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
          },
          {
            "value": "serving_dish",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
          },
          {
            "value": "shirt",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
          },
          {
            "value": "shoe",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
          },
          {
            "value": "silhouette",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
          },
          {
            "value": "snowflake",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
          },
          {
            "value": "star",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
          },
          {
            "value": "stopwatch",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
          },
          {
            "value": "truck",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
          },
          {
            "value": "washing",
            "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
          }
        ],
        "default": "none",
        "label": "Icon"
      },
        {
          "type":"text",
          "id":"headings",
          "label":"Headings"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "URL"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "100%",
          "options": [
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Vertical alignment",
          "default": "center",
          "info": "Aligns when next to other custom content",
          "options": [
            {
              "value": "top-middle",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Middle"
            },
            {
              "value": "bottom-middle",
              "label": "Bottom"
            }
          ]
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "video_link",
          "label": "Video Link"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Width",
          "default": "100%",
          "options": [
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Vertical alignment",
          "default": "center",
          "info": "Aligns when next to other custom content",
          "options": [
            {
              "value": "top-middle",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Middle"
            },
            {
              "value": "bottom-middle",
              "label": "Bottom"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom content",
      "blocks": [
        {
          "type": "image",
          "settings": {
            "width": "50%"
          }
        },
        {
          "type": "liquid",
          "settings": {
            "width": "50%"
          }
        }
      ]
    }
  ]
}
{% endschema %}
