{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}
{% if section.setting.shide_on_mobile == true %}
  {%- style -%}
    @media(max-width:769px){
    .bgg--{{section.id}}{
          display:none;
      }
    }
  {%- endstyle -%}
{% endif %}
<div class="bgg bgg--{{section.id}}">
  <div class="text-{{ section.settings.align_text }} page-width{% if section.settings.narrow_column %} page-width--narrow{% endif %}">
    {%- for block in section.blocks -%}
      <div class="theme-block" {{ block.shopify_attributes }}>
        {%- case block.type -%}
          {% when 'rich-text' %}
            <!-- <div class="index-section index-section--faq">  replaced div -->
            <div class="">
              <div class="text-{{ block.settings.align_text }}">
                {%- if block.settings.title != blank -%}
                  <h2 class="h1">
                    {{ block.settings.title | escape }}
                  </h2>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="rte">
                    {%- if block.settings.enlarge_text %}<div class="enlarge-text">{% endif -%}
                    {{ block.settings.text }}
                    {%- if block.settings.enlarge_text %}</div>{% endif -%}
                  </div>
                {%- endif -%}
              </div>
            </div>
          {% when 'readmore' %}
            <div class="readmore">
              <a href="{{ block.settings.url }}">{{ block.settings.title }}</a>
              <img src="https://cdn.shopify.com/s/files/1/0630/1479/7467/files/arrow-right_1024x1024_1.png">
            </div>
          {%- when 'banner' -%}
            <div class="aos-animate">
              {%- if block.settings.link != blank -%}
                <a href="{{ block.settings.link }}">
              {%- endif -%}
              {%- if block.settings.image != blank -%}
                <div
                  class="image-wra"
                >
                  {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img
                    class=""
                    src="{{ block.settings.image | img_url: '1900x'  }}"
                    class:image_class,
                    loading:lazy,
                    height=""
                    width=""
                    alt="{{ block.settings.image.alt }}"
                  >
                  <noscript>
                    <img
                      class="lazyloaded"
                      src="{{ block.settings.image | img_url: '400x' }}"
                      alt="{{ block.settings.image.alt }}"
                      class:image_class,
                      loading:lazy,
                      height=""
                      width=""
                    >
                  </noscript>
                </div>
              {%- else -%}
                <div class="image-wrap">
                  {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {%- endif -%}
              {%- if block.settings.link != blank -%}
                </a>
              {%- endif -%}
            </div>
          {%- when 'heading' -%}
            <h2 class="fff h1">{{ block.settings.title | escape }}</h2>
          {%- when 'page' -%}
            <div class="rte">
              {%- if block.settings.page_text != blank -%}
                {{ pages[block.settings.page_text].content }}
              {%- else -%}
                {{ 'home_page.onboarding.no_content' | t }}
              {%- endif -%}
            </div>
          {%- when 'text' -%}
            <div class="rte clsd">
              {%- if block.settings.text != blank -%}
                {%- if block.settings.enlarge_text %}<div class="enlarge-text">{% endif -%}
                {{ block.settings.text }}
                {%- if block.settings.enlarge_text %}</div>{% endif -%}
              {%- else -%}
                {{ 'home_page.onboarding.no_content' | t }}
              {%- endif -%}
            </div>
          {%- when 'button' -%}
            <div class="rte">
              <a href="{{ block.settings.link }}" class="btn">
                {{ block.settings.link_text }}
              </a>
            </div>
        {%- endcase -%}
      </div>
    {%- endfor -%}
  </div>
</div>
{%- if section.settings.divider -%}</div>{%- endif -%}

<style>
    .bgg{
     padding: 35px 0 70px;
    }
    .bgg--{{section.id}}{
      background:{{section.settings.bg}};
    }
    .shopify-section.index-section.mb {
      margin-bottom: 0px;
  }
    @media only screen and (min-width: 769px) {
      .bgg--{{section.id}} p {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
      }
      .bgg--{{section.id}} .readmore {
        margin-top: 0;
      }
    }
    @media(max-width:1024px){
      .bgg{
     padding: 40px 0;
    }
    }
    @media only screen and (max-width: 480px) {

      .bgg--{{section.id}} {
        padding: 40px 0 0!important;
      }

    }
</style>
{% schema %}
{
  "name": "Banner",
  "class": "index-section mb",
  "settings": [
    {
      "type": "color",
      "id": "bg",
      "label": "Background Color"
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "Text alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centered"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "narrow_column",
      "label": "Narrow column",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "Show section divider",
      "default": false
    },
    {
    "type": "checkbox",
    "id": "hide_on_mobile",
    "default": false,
    "label": "Hide on Mobile"
  }
  ],
  "blocks" : [
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Rich text"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Banner",
    "blocks": [
    ]
  }]
}
{% endschema %}
