{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="hero_mobile_banner {% if section.settings.hide_desktop == true %}show--mobile {% endif %}">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'banner' -%}
        <div class="aos-animate">
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}">
          {%- endif -%}
          {%- if block.settings.image != blank -%}
            <div
              class="image-wra"
            >
              {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              <img
                class=""
                src="{{ block.settings.image | img_url: '1900x'  }}"
                alt="{{ block.settings.image.alt }}"
                class:image_class,
                loading:lazy,
                height=""
                width=""
              >
              <noscript>
                <img
                  class="lazyloaded"
                  src="{{ block.settings.image | img_url: '400x' }}"
                  alt="{{ block.settings.image.alt }}"
                  class:image_class,
                  loading:lazy,
                  height=""
                  width=""
                >
              </noscript>
            </div>
          {%- else -%}
            <div class="image-wrap">
              {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {%- endif -%}
          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%}
        </div>
    {% endcase %}
  {% endfor %}
  <div class="text-{{ section.settings.align_text }} page-width{% if section.settings.narrow_column %} page-width--narrow{% endif %}">
    {%- for block in section.blocks -%}
      <div class="theme-block" {{ block.shopify_attributes }}>
        {%- case block.type -%}
          {% when 'rich-text' %}
            <div class="">
              <div class="text-{{ block.settings.align_text }}">
                {%- if block.settings.title != blank -%}
                  <h2 class="h1">
                    {{ block.settings.title | escape }}
                  </h2>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="rte">
                    {%- if block.settings.enlarge_text %}<div class="enlarge-text">{% endif -%}

                    {{ block.settings.text }}
                    {%- if block.settings.enlarge_text %}</div>{% endif -%}
                  </div>
                {%- endif -%}
              </div>
            </div>
          {% when 'readmore' %}
            <div class="hero__link">
              <a href="{{ block.settings.url }}" class="button button--primary">
                {{ block.settings.title }}
              </a>
            </div>

          {%- when 'heading' -%}
            <h2 class="fff">{{ block.settings.title | escape }}</h2>
          {%- when 'page' -%}
            <div class="rte">
              {%- if block.settings.page_text != blank -%}
                {{ pages[block.settings.page_text].content }}
              {%- else -%}
                {{ 'home_page.onboarding.no_content' | t }}
              {%- endif -%}
            </div>
          {%- when 'text' -%}
            <div class="rte clsd">
              {%- if block.settings.text != blank -%}
                {%- if block.settings.enlarge_text %}<div class="enlarge-text">{% endif -%}
                {{ block.settings.text }}
                {%- if block.settings.enlarge_text %}</div>{% endif -%}
              {%- else -%}
                {{ 'home_page.onboarding.no_content' | t }}
              {%- endif -%}
            </div>
          {%- when 'button' -%}
            <div class="hero__link">
              <a href="{{ block.settings.link }}" class="button button--primary">
                {{ block.settings.link_text }}
              </a>
            </div>
        {%- endcase -%}
      </div>
    {%- endfor -%}
  </div>
  <div class="store_featrues">
    <div class="store_service-wrap">
      {% if section.settings.text1 != blank %}
        <div class="menu_icons-wrap">
          <div class="menu_img">
            {% render 'icon-accordion', icon: section.settings.icon1 %}
          </div>
          <div class="menu_text-item">
            {{ section.settings.text1 }}
          </div>
        </div>
      {% endif %}
      {% if section.settings.text2 != blank %}
        <div class="menu_icons-wrap">
          <div class="menu_img">
            {% render 'icon-accordion', icon: section.settings.icon2 %}
          </div>
          <div class="menu_text-item">
            {{ section.settings.text2 }}
          </div>
        </div>
      {% endif %}
      {% if section.settings.text3 != blank %}
        <div class="menu_icons-wrap">
          <div class="menu_img">
            {% render 'icon-accordion', icon: section.settings.icon3 %}
          </div>
          <div class="menu_text-item">
            {{ section.settings.text3 }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{%- if section.settings.divider -%}</div>{%- endif -%}

<style>
    .bgg{
     padding: 95px 0 100px;
    }
    .shopify-section.index-section.mb {
      margin-bottom: 0px;
  }
    @media only screen and (min-width: 769px) {
      .bgg--{{section.id}} p {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
      }
      .bgg--{{section.id}} .readmore {
        margin-top: 0;
      }
    }
</style>
{% schema %}
{
  "name": "Mobile Hero Banner",
  "class": "index-section mb",
  "settings": [
    {
      "type": "color",
      "id": "bg",
      "label": "Background Color"
    },
    {
      "type": "checkbox",
      "id": "hide_desktop",
      "label": "Show in Mobile View only",
      "default":true
    },
    {
      "type": "select",
      "id": "icon1",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
        },
        {
          "value": "apple",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
        },
        {
          "value": "banana",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
        },
        {
          "value": "bottle",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
        },
        {
          "value": "box",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
        },
        {
          "value": "carrot",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
        },
        {
          "value": "chat_bubble",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
        },
        {
          "value": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
        },
        {
          "value": "clipboard",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
        },
        {
          "value": "dairy",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
        },
        {
          "value": "dairy_free",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
        },
        {
          "value": "dryer",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
        },
        {
          "value": "eye",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
        },
        {
          "value": "fire",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
        },
        {
          "value": "gluten_free",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
        },
        {
          "value": "heart",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
        },
        {
          "value": "iron",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
        },
        {
          "value": "leaf",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
        },
        {
          "value": "leather",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
        },
        {
          "value": "lightning_bolt",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
        },
        {
          "value": "lipstick",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
        },
        {
          "value": "lock",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
        },
        {
          "value": "map_pin",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
        },
        {
          "value": "nut_free",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
        },
        {
          "value": "pants",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
        },
        {
          "value": "paw_print",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
        },
        {
          "value": "pepper",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
        },
        {
          "value": "perfume",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
        },
        {
          "value": "plane",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
        },
        {
          "value": "plant",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
        },
        {
          "value": "price_tag",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
        },
        {
          "value": "question_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
        },
        {
          "value": "recycle",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
        },
        {
          "value": "return",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
        },
        {
          "value": "ruler",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
        },
        {
          "value": "serving_dish",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
        },
        {
          "value": "shirt",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
        },
        {
          "value": "shoe",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
        },
        {
          "value": "silhouette",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
        },
        {
          "value": "snowflake",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
        },
        {
          "value": "star",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
        },
        {
          "value": "stopwatch",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
        },
        {
          "value": "truck",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
        },
        {
          "value": "washing",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
        }
      ],
      "default": "check_mark",
      "label": "Icon 1"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Text Field 1"
    },
    {
      "type": "select",
      "id": "icon2",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
        },
        {
          "value": "apple",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
        },
        {
          "value": "banana",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
        },
        {
          "value": "bottle",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
        },
        {
          "value": "box",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
        },
        {
          "value": "carrot",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
        },
        {
          "value": "chat_bubble",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
        },
        {
          "value": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
        },
        {
          "value": "clipboard",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
        },
        {
          "value": "dairy",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
        },
        {
          "value": "dairy_free",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
        },
        {
          "value": "dryer",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
        },
        {
          "value": "eye",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
        },
        {
          "value": "fire",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
        },
        {
          "value": "gluten_free",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
        },
        {
          "value": "heart",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
        },
        {
          "value": "iron",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
        },
        {
          "value": "leaf",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
        },
        {
          "value": "leather",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
        },
        {
          "value": "lightning_bolt",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
        },
        {
          "value": "lipstick",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
        },
        {
          "value": "lock",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
        },
        {
          "value": "map_pin",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
        },
        {
          "value": "nut_free",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
        },
        {
          "value": "pants",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
        },
        {
          "value": "paw_print",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
        },
        {
          "value": "pepper",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
        },
        {
          "value": "perfume",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
        },
        {
          "value": "plane",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
        },
        {
          "value": "plant",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
        },
        {
          "value": "price_tag",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
        },
        {
          "value": "question_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
        },
        {
          "value": "recycle",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
        },
        {
          "value": "return",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
        },
        {
          "value": "ruler",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
        },
        {
          "value": "serving_dish",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
        },
        {
          "value": "shirt",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
        },
        {
          "value": "shoe",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
        },
        {
          "value": "silhouette",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
        },
        {
          "value": "snowflake",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
        },
        {
          "value": "star",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
        },
        {
          "value": "stopwatch",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
        },
        {
          "value": "truck",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
        },
        {
          "value": "washing",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
        }
      ],
      "default": "check_mark",
      "label": "Icon 2"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Text Field 2"
    },
    {
      "type": "select",
      "id": "icon3",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
        },
        {
          "value": "apple",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
        },
        {
          "value": "banana",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
        },
        {
          "value": "bottle",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
        },
        {
          "value": "box",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
        },
        {
          "value": "carrot",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
        },
        {
          "value": "chat_bubble",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
        },
        {
          "value": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
        },
        {
          "value": "clipboard",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
        },
        {
          "value": "dairy",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
        },
        {
          "value": "dairy_free",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
        },
        {
          "value": "dryer",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
        },
        {
          "value": "eye",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
        },
        {
          "value": "fire",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
        },
        {
          "value": "gluten_free",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
        },
        {
          "value": "heart",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
        },
        {
          "value": "iron",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
        },
        {
          "value": "leaf",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
        },
        {
          "value": "leather",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
        },
        {
          "value": "lightning_bolt",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
        },
        {
          "value": "lipstick",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
        },
        {
          "value": "lock",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
        },
        {
          "value": "map_pin",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
        },
        {
          "value": "nut_free",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
        },
        {
          "value": "pants",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
        },
        {
          "value": "paw_print",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
        },
        {
          "value": "pepper",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
        },
        {
          "value": "perfume",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
        },
        {
          "value": "plane",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
        },
        {
          "value": "plant",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
        },
        {
          "value": "price_tag",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
        },
        {
          "value": "question_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
        },
        {
          "value": "recycle",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
        },
        {
          "value": "return",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
        },
        {
          "value": "ruler",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
        },
        {
          "value": "serving_dish",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
        },
        {
          "value": "shirt",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
        },
        {
          "value": "shoe",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
        },
        {
          "value": "silhouette",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
        },
        {
          "value": "snowflake",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
        },
        {
          "value": "star",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
        },
        {
          "value": "stopwatch",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
        },
        {
          "value": "truck",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
        },
        {
          "value": "washing",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
        }
      ],
      "default": "check_mark",
      "label": "Icon 3"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "Text Field 3"
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "Text alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centered"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "narrow_column",
      "label": "Narrow column",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "Show section divider",
      "default": false
    }
  ],
  "blocks" : [
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Rich text"
        }
      ]
    },
    {
      "type": "readmore",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Text",
          "default": "Read More"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        }
      ]
    },
    {
      "type": "rich-text",
      "name": "Rich text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Rich text"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this section for any descriptive text you need to fill out your pages or to add introductory headings between other blocks.</p>"
        },
        {
          "type": "select",
          "id": "align_text",
          "label": "Text alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Centered"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        }
      ]
    }
  ],
  "presets": [{
    "name": "Mobile Hero Banner",
    "blocks": [
    ]
  }]
}
{% endschema %}
